
body {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 25px;

    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

header {
    padding-top: 1%;
    border-style: dotted;
    border-color: red;

    /** Text Formatting */
    text-align: center;
}

button {
    height: 25px;
    width: 80px;
    margin: auto;
}

.dark-mode {
    background-color: black;
    color: white
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}